.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);

    
  }

  .one {
    border: 2px solid salmon;
    background-color: rgba(250, 128, 114, 0.726);
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .two {
    border: 2px solid salmon;
    background-color: rgba(250, 128, 114, 0.726);
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .three {
    border: 2px solid salmon;
    background-color: rgba(250, 128, 114, 0.726);
    grid-column: 1;
    grid-row: 2 / 5;
  }
  .four {
    border: 2px solid salmon;
    background-color: rgba(250, 128, 114, 0.726);
    grid-column: 3;
    grid-row: 3;
  }
  .five {
    border: 2px solid salmon;
    background-color: rgba(250, 128, 114, 0.726);
    grid-column: 2;
    grid-row: 4;
  }
  .six {
    border: 2px solid salmon;
    background-color: rgba(250, 128, 114, 0.726);
    grid-column: 3;
    grid-row: 4;
  }
  